*, html {
    padding: 0;
    margin: 0;
}

.wrapper {
    display: flex;
    position: absolute;
    top: 40%;
    left: 50%;
    font-size: 100px;
    transform: translate(-50%, -50%);
}

#second {
    width: 155px;
}

#centiSecond {
    width : 100px;
}

.btn-group {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 100px;
    transform: translate(-50%, -50%);
}

#start  {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    color: white;
    background-color: rgba(255, 0, 0,1);
}
#pause  {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    color: black;
    background-color: rgba(0, 255, 0,1);
}
#reset  {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    color: white;
    background-color: rgba(0, 0, 255,1);
}

#start:hover  {
    color: white;
    cursor: pointer;
    background-color: rgb(49, 0, 0);
}
#pause:hover  {
    color: white;
    cursor: pointer;
    background-color: rgb(0, 41, 0);
}
#reset:hover  {
    color: white;
    cursor: pointer;
    background-color: rgb(0, 0, 41);
}