*, html {
    padding: 0;
    margin: 0;
}

#home {
    width: 100%;
    height: 100vh;
    background-color: #000000;
}

.homeContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Century Gothic";
    color: white;
    padding: 2rem;
    width: 15rem;
    background-color: #1a1a1a;
    border-radius: 10px;
}

.instruction {
    padding: 1rem 1rem;
}

#username {
    padding: 0.5rem 0.5rem;
    border-radius: 5px;
    width: 93%;
    margin-bottom: 5px;
}

#play {
    width: 100%;
    border-radius: 5px;
    border: none;
    padding: 0.3rem 0;
    font-weight: bold;
    background-color: red;
    color: white;
}

#map {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #131313;
}

#game {
    background-color: #282828;
    width: 100%;
    height: 100vh;
}

#bubble {
    position: absolute;
    top: 19%;
    left: 20%;
    transform: translate(-50%, -50%);
    width: 0;
    padding: 10rem;
    border-radius: 50%;
    background-color: rgba(171, 45, 171, 0.18);
    filter: blur(10px);
    -webkit-filter: blur(10px);
}
#bubble2 {
    position: absolute;
    top: 75%;
    left: 70%;
    transform: translate(-50%, -50%);
    width: 0;
    padding: 13rem;
    border-radius: 50%;
    background-color: rgba(94, 154, 143, 0.18);
    filter: blur(10px);
    -webkit-filter: blur(10px);
}

#modal {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 50;

    background-color: rgba(0, 0, 0, 0.7);
}

.content-modal {
    font-family: "Century Gothic";
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    width: 15rem;
    background-color: #282828;
    border-radius: 10px;
}
#modal2 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 50;

    background-color: rgba(0, 0, 0, 0.7);
}

.content-modal2 {
    font-family: "Century Gothic";
    text-align: center;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    width: 15rem;
    background-color: #282828;
    border-radius: 10px;
}

#resume {
    padding: 0.5rem 0;
    width: 100%;
    margin-top: 1rem;
    border-radius: 10px;
    background-color: red;
    color: white;
}