*, html {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.middle {
    display: flex;
    animation-name: LoadingAnimation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.wrapper_1 {
    display: flex;
    flex-direction: column;
    animation-name: GapAnimation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.wrapper_2 {
    display: flex;
    flex-direction: column;
    animation-name: GapAnimation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.ball1{
    padding: 2rem;
    border-radius: 50%;
    background-color: #52a8b8;
}
.ball2{
    padding: 2rem;
    border-radius: 50%;
    background-color: #d82e2e;
}
.ball3{
    padding: 2rem;
    border-radius: 50%;
    background-color: #3da115;
}
.ball4{
    padding: 2rem;
    border-radius: 50%;
    background-color: #2600ff;
}

@keyframes LoadingAnimation {
    0% {
        transform: rotate(0deg);
        gap: 0rem;
    }

    25% {
        transform: rotate(90deg);
        gap: 2rem;
    }

    50% {
        transform: rotate(180deg);
        gap: 0rem;
    }

    75% {
        transform: rotate(270deg);
        gap: 2rem;
    }

    100% {
        transform: rotate(360deg);
        gap: 0rem;
    }
}

@keyframes GapAnimation {
    0% {
        gap: 0rem;

    }

    25% {
        gap: 2rem;

    }

    50% {
        gap: 0rem;

    }

    75% {
        gap: 2rem;

    }

    100% {
        gap: 0rem;

    }
}